.main5 .section {overflow:hidden}
.main5 {position:relative;width:100%;height:565px; background:url('../../asset/map/mapbusan.jpg') no-repeat 0 0; z-index:124;}
.main5 .innerLeft {float:left;position:relative;width:630px;height:520px;box-sizing:border-box;}
.main5 .innerRight {float:right;position:relative;width:630px;height:520px;box-sizing:border-box;margin-top:50px;}

.main5 .innerLeft .title {position:absolute;left:30px;top:60px;z-index:123141;}
.main5 .innerLeft .title h3 {font-size:16px;color:#fff;}
.main5 .innerLeft .title h3 b {font-size:30px;}
.main5 .innerLeft .map {position:relative;width:630px;height:520px;background-image:url('../../asset/map/map001.png');background-repeat:no-repeat;background-size:100%;}
.main5 .innerLeft .map.mobile-view {display:none}
.main5 .innerLeft .map span{position:absolute;font-size:13px;z-index:2}
.main5 .innerLeft .map span a{color:#fff;font-weight:bold;}
.main5 .innerLeft .map span a:hover{color:#fff;}

.main5 .innerLeft .map .mp1{top:149px;left:450px;}
.main5 .innerLeft .map .mp1 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp2{top:193px;left:340px}
.main5 .innerLeft .map .mp2 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp3{top:284px;left:408px}
.main5 .innerLeft .map .mp3 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp4{top:253px;left:331px}
.main5 .innerLeft .map .mp4 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp5{top:285px;left:335px;}
.main5 .innerLeft .map .mp5 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp6{top:315px;left:366px}
.main5 .innerLeft .map .mp6 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp7{top:236px;left:275px}
.main5 .innerLeft .map .mp7 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp8{top:313px;left:290px}
.main5 .innerLeft .map .mp8 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp9{top:362px;left:355px}
.main5 .innerLeft .map .mp9 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp10{top:357px;left:300px}
.main5 .innerLeft .map .mp10 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp11{top:325px;left:230px}
.main5 .innerLeft .map .mp11 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp12{top:332px;left:155px}
.main5 .innerLeft .map .mp12 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp13{top:411px;left:225px}
.main5 .innerLeft .map .mp13 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp14{top:372px;left:265px}
.main5 .innerLeft .map .mp14 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp15{top:394px;left:287px}
.main5 .innerLeft .map .mp15 a:hover{color:#30387f;}
.main5 .innerLeft .map .mp16{top:425px;left:313px}
.main5 .innerLeft .map .mp16 a:hover{color:#30387f;}

.main5 .innerLeft .map .mp1 a.on, 
.main5 .innerLeft .map .mp2 a.on, 
.main5 .innerLeft .map .mp3 a.on, 
.main5 .innerLeft .map .mp4 a.on, 
.main5 .innerLeft .map .mp5 a.on, 
.main5 .innerLeft .map .mp6 a.on, 
.main5 .innerLeft .map .mp7 a.on, 
.main5 .innerLeft .map .mp8 a.on, 
.main5 .innerLeft .map .mp9 a.on, 
.main5 .innerLeft .map .mp10 a.on, 
.main5 .innerLeft .map .mp11 a.on, 
.main5 .innerLeft .map .mp12 a.on, 
.main5 .innerLeft .map .mp13 a.on, 
.main5 .innerLeft .map .mp14 a.on, 
.main5 .innerLeft .map .mp15 a.on, 
.main5 .innerLeft .map .mp16 a.on {color:#30387f;}

.main5 .innerLeft .map div{width:630px;height:520px;background-size:100%;background-repeat:no-repeat}
.main5 .innerLeft .map .mapBg1{display:none;background-image:url('../../asset/map/map001.png')}
.main5 .innerLeft .map .mapBg2{display:none;background-image:url('../../asset/map/map011.png')}
.main5 .innerLeft .map .mapBg3{display:none;background-image:url('../../asset/map/map021.png')}
.main5 .innerLeft .map .mapBg4{display:none;background-image:url('../../asset/map/map031.png')}
.main5 .innerLeft .map .mapBg5{display:none;background-image:url('../../asset/map/map041.png')}
.main5 .innerLeft .map .mapBg6{display:none;background-image:url('../../asset/map/map051.png')}
.main5 .innerLeft .map .mapBg7{display:none;background-image:url('../../asset/map/map061.png')}
.main5 .innerLeft .map .mapBg8{display:none;background-image:url('../../asset/map/map071.png')}
.main5 .innerLeft .map .mapBg9{display:none;background-image:url('../../asset/map/map081.png')}
.main5 .innerLeft .map .mapBg10{display:none;background-image:url('../../asset/map/map021.png')}
.main5 .innerLeft .map .mapBg11{display:none;background-image:url('../../asset/map/map071.png')}
.main5 .innerLeft .map .mapBg12{display:none;background-image:url('../../asset/map/map071.png')}
.main5 .innerLeft .map .mapBg13{display:none;background-image:url('../../asset/map/map071.png')}
.main5 .innerLeft .map .mapBg14{display:none;background-image:url('../../asset/map/map071.png')}
.main5 .innerLeft .map .mapBg15{display:none;background-image:url('../../asset/map/map071.png')}
.main5 .innerLeft .map .mapBg16{display:none;background-image:url('../../asset/map/map071.png')} 

.main5 .innerLeft .map .mp1 + div.on{display:block}
.main5 .innerLeft .map .mp2 + div.on{display:block}
.main5 .innerLeft .map .mp3 + div.on{display:block}
.main5 .innerLeft .map .mp4 + div.on{display:block}
.main5 .innerLeft .map .mp5 + div.on{display:block}
.main5 .innerLeft .map .mp6 + div.on{display:block}
.main5 .innerLeft .map .mp7 + div.on{display:block}
.main5 .innerLeft .map .mp8 + div.on{display:block}
.main5 .innerLeft .map .mp9 + div.on{display:block}
.main5 .innerLeft .map .mp10 + div.on{display:block}
.main5 .innerLeft .map .mp11 + div.on{display:block}
.main5 .innerLeft .map .mp12 + div.on{display:block}
.main5 .innerLeft .map .mp13 + div.on{display:block}
.main5 .innerLeft .map .mp14 + div.on{display:block}
.main5 .innerLeft .map .mp15 + div.on{display:block}
.main5 .innerLeft .map .mp16 + div.on{display:block}