@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display+SC:wght@700&family=Shrikhand&family=Tinos:ital@0;1&family=Zen+Antique&display=swap');

.LibInfoBox{ 
    display : block;
    height : 100vh;
    margin-top : 25px;
    margin-bottom : 25px;
}

.libTitle{
    font-size : 3em;
    font-family: 'Playfair Display SC', serif;
}

.addLibraryBtn{
    font-family: 'Playfair Display SC', serif;
    font-size: 1.2em;
    border-radius: 10px;
    margin: 12px;
}

.addLibraryBtn :hover{
    font-family: 'Playfair Display SC', serif;
    font-size: 1em;
    background-color: lightgray;
    color : white;
}

.librarylink :hover {
    font-weight: bold;
}