@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display+SC:wght@700&family=Shrikhand&family=Tinos:ital@0;1&family=Zen+Antique&display=swap');

.LibInfoBox{ 
    display : block;
    height : 100vh;
    margin-top : 25px;
    margin-bottom : 25px;
}

.libTitle{
    font-size : 3em;
    font-family: 'Playfair Display SC', serif;
}

.addLibraryBtn{
    font-size: 0.5em;
    border-radius: 10px;
    margin: 12px; 
    background-color: #eee !important;
    color : black !important;
    padding : 0.3em 0.6em;
}

.addLibraryBtn:hover{ 
    background-color: black !important;
    color : white !important;

}



.librarylink :hover {
    font-weight: bold;
}