@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display+SC:wght@700&family=Shrikhand&family=Tinos:ital@0;1&family=Zen+Antique&display=swap');

.LibInfoBox{ 
    display : block;
    height : 100vh;
    margin-top : 25px;
    margin-bottom : 25px;
}

.libTitle{
    font-size : 3em;
    font-family: 'Playfair Display SC', serif;
}

.addLibraryBtn{
    font-size: 0.5em;
    border-radius: 10px;
    margin: 12px;
    border : 2px solid black;
    padding : 3px 5px;
}

.addLibraryBtn:hover{
    background-color: red !important;
}

.addLibraryBtn:focus{
    background-color: red !important;
    color : white;
}


.librarylink :hover {
    font-weight: bold;
}