@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display+SC:wght@700&family=Shrikhand&family=Tinos:ital@0;1&family=Zen+Antique&display=swap');

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*section1 title*/
.section1 {
    box-sizing: border-box;
    min-width: 100vmin;
    min-height: 80vmin;
    display : block;
}

.section1back{
    z-index : "9";
    min-height : 100vh;
}


.title {
    overflow: hidden;
    font-family: 'Playfair Display SC', serif;
    font-size: 12em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

.subTitle{ 
    font-size : 2em;
    font-weight: bold;
    margin :12vmin -25em 0 -5vmin;
}

.fortitle{
    margin : 8vmin -7vw 0 -20vmin;
    font-family: 'Playfair Display SC', serif;
    font-size: 5.5em;
    font-weight: bold;
}

.scroll {
    font-size :1.6em;
    font-weight: bold; 
    width : 3em;
    margin : 4vmin 0 0 0;
}

/*section2 recommendbook*/ 
.section2{
    white-space: pre-wrap;
    box-sizing: border-box;
    border : 2px solid chartreuse;
    min-width: 100vw;
    min-height: 100vmin;
}

.section2sub{
    font-size : 1.5em;
}
.section2title{
    font-size: 5em;
    font-family: 'Playfair Display SC', serif;
    margin-top : 10vmin;
}

.hotsearch1{
    font-family: 'Playfair Display SC', serif;
    font-size: 2.5em;
    font-weight: bold;   
    margin-top : 5vmin;
}

.hotsearch2{
    font-family: 'Playfair Display SC', serif;
    font-size: 1.3em;
    font-weight: bold;   
    margin-top : 5vmin;
}

.morebtn{
    font-size : 1.5em;
    font-weight: bold;
    border-radius: 40%;
    margin: 1em 1.5em;
}

.morebtn :hover{
    background-color: lightblue;
    color :white;
}

/*section3 newbooks by library*/
.section3 {
    border : 2px solid mediumpurple;
    clear: both;
    max-width: 100vw;
    min-height: 100vmin;
}

.updatebox{
    justify-content: center;
    align-items: center;
    width:90vw;
    margin : 0 0 0 15em;
}

.section3title{
    font-size: 3em;
    font-weight: 300;
    font-family: 'Playfair Display SC', serif;
}

.section3title{
    font-size: 5em;
    font-family: 'Playfair Display SC', serif;
    margin-top : 10vmin;
}

.rankbox{
    display: flex ;  
    justify-content: center;
    align-items: center ;
    margin : 2vh 5vmin 0 10vmin;
}

.rankbox1{
    display: flex ;  
    justify-content: center;
    align-items: center ;
    margin : -3vh 5vmin 0 10vmin;
}

/*section4 library information*/
.section4{
    max-width: 80vmin;
    min-height: 80vh;
    height : 30vmin; 
    border :2px solid black;
    display: flex;
    float : right;
}

.section4title{
    font-size: 5em;
    font-weight: bold;
    font-family: 'Playfair Display SC', serif;
    margin-top : 10vmin;
}

.gotolibbtn{
    font-size : 1.4em;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.3em 1.3em;
}

.gotolibbtn:hover{
    background-color: lightblue;
    color :white;
}
/*section5 searchbook */
.section5{
    margin : 3em;
    border: 2px solid black;
    min-height:90vh;
    display: flex;
}

.section5title{
    clear:both;
    font-size: 5.5em;
    font-weight: 300;
    font-family: 'Playfair Display SC', serif;
    margin-top : 10vmin;
}

.gotosearch{
    font-size : 1.5em;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.3em 1.3em;
}

.gotosearch:hover{  
    background-color: lightblue;
    color :white;
}

/*section6 mypage*/
.section6{
    min-width: 100vw;
    clear : both;
    min-height: 100vh;
}

.searchbookinput{
    font-size : 1.5em;
}

.section6title{
    font-size: 5em;
    margin-top : 10vmin;
    font-weight: 300;
    font-family: 'Playfair Display SC', serif;
}

.mypagecomment{  
    margin-top :7vh;
    display : flex;
    align-items: center;
    justify-content:  center;
}

.pagebtnbox{

}

.pageupbtn{ 
    display: flex;
    float: right;
    width : 5em;
    height : 5em;
    border-radius : 100%;
    margin-right: 5vw;
    background-color: black;
    color : white;
    
}

.pageupbtn :hover{
    border-radius : 100%;
    width : 10vw;
    height : 10vh;
    font-weight: bold;
    background-color: white;
    color: black;
    border: "2px solid white";
}