a {
    color: black; 
    text-decoration: none;
}

.iconsetting{
    margin-top : 1.7em;
}

.iconsetting:hover{
    color : gray;
}

.menubar_btn2:hover{
    border:2px solid black;
    padding  : "3px";
}


.menubar_btn2:hover{
    border:2px solid black;
    .iconsetting{
        color : gray;
    }
}

.menubar_btn2:focus{
    border:2px solid black;
}