@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display+SC:wght@700&family=Shrikhand&family=Tinos:ital@0;1&family=Zen+Antique&display=swap');

@font-face {
    font-family: 'GowunBatang-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunDodum-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

::webkit-scrollbar {
    display: none;
}

body{
    font-family : 'GowunBatang-Regular';
    background-color : ""
}

.main-container {
    ul{
        scroll-behavior: smooth;
        position :relative;
        width : 100vw;
        height :100vh;
        padding-left: 10vw;
        box-sizing: border-box;
        overflow: auto;
    }
}